<header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
<<<<<<< HEAD
       <%= link_to "Tweetbook", '#', id: "logo" %>
=======
       <%= link_to "Tweetbook", root_path, id: "logo" %>
>>>>>>> 1fa84eb398423bcb87faf4c15d9dcae1a1bae648
       <nav>
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "Home", root_path %></li>
           <li><%= link_to "Help", help_path %></li>
           <li><%= link_to "Log in", '#' %></li>
         </ul>
       </nav>
    </div>
  </header>